<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Oswald:300,400,500&display=swap&subset=latin-ext"
          rel="stylesheet">
    <title>Account Activation</title>

    <!-- Web Font / @font-face : BEGIN -->
    <!--[if mso]>
    <style>
        * {
            font-family: Arial, sans-serif !important;
        }
    </style>
    <![endif]-->
    <!-- Web Font / @font-face : END -->


</head>
<body>

{{ 'Commercial.QuoteRequestEmail.Dear'|trans({}, "messages", locale) }},
<br><br>
{{ 'Commercial.QuoteRequestEmail.Message1'| trans({}, "messages", locale) }} :
<ul>
    <li>Nom : {{ data['name'] }}</li>
    <li>Email : {{ data['email'] }}</li>
    <li>Téléphone : {{ data['phone'] }}</li>
    <li>Code postal : {{ data['postal'] }}</li>
</ul>
<br>

<br><br>
{{ 'Commercial.QuoteRequestEmail.Message2'| trans({}, "messages", locale) }}
<br><br>
{{ 'Commercial.QuoteRequestEmail.Partner'| trans({}, "messages", locale) }}
<br>

</body>
</html>


